.date-filter {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.date-filter i {
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.filter-buttons {
    display: flex;
    gap: 10px;
}
.filter-buttons button {
    background: transparent;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
.filter-buttons .active {
    background: white;
    color: #2D1E93;
}


#t-first-div{
    height: 247px;
    background-color: #2b1a93;
    position: relative;
}

.t-profile-card {
    margin-top: -59px;
    background: #e4e2f3;
    border-radius: 10px;
    padding: 0px 20px 20px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
#t-second-div{
    background-color: #e3e6ef;
}
.t-profile-header {
    background: #e4e2f3; /* Purple background */
    color: white;
    /* text-align: center; */
    padding: 20px 20px 20px 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
 }

 .bg-lightpurple {
    background-color: #D8BFD8 !important; /* Light Purple */
}
.bg-lightyellow {
    background-color: #FFF9C4 !important; /* Light Yellow */
}

.bg-lightpink {
    background-color: #FFCDD2 !important; /* Light Pink */
}

.bg-lightgreen {
    background-color: #C8E6C9 !important; /* Light Green */
}

.bg-lightgray {
    background-color: #E0E0E0 !important; /* Light Gray */
}
.filter-buttons button.active {
    background-color: #fff;
    color: rgb(48, 25, 100);
    border: 1px solid #fff;
}
